// colors
$black: #000000;
$grey: #90999F;
$blue-light: #E3F4FD;
$blu-darken: #1185FD;

// redefine colors
//$navbar-light-active-color: $grey;
$navbar-light-color: $black;
$navbar-light-hover-color: $grey;
$navbar-light-active-color: $grey;

$navbar-light-brand-color: $black;
$navbar-light-brand-hover-color: $navbar-light-brand-color;




